
<div class="jumbotron greensea">
	<h1 class ="text-center">About</h1>

		<br>
	<h2 class ="text-center">Who built this site?</h1>
	<p text-center  class ="text-center">I'm David and I'm working on our One Month Rails Pinteresting app.</p>
		<br>
	<h2 class ="text-center">What is this site's purpose?</h1>
	<p text-center  class ="text-center">To create a Pinterest clone while teaching myself Ruby on Rails.</p>
		<br>
	<h2 class ="text-center">What are your goals?</h1>
	<p text-center  class ="text-center">I want to learn more about rails development, so I can deploy websites more quickly and easily!</p>		
	<br>
	<h2 class ="text-center">How do I file a complaint?</h1>
	<p text-center  class ="text-center">Please send all complaints to the web standards authority at nobody@whocares.com</p>
	</div>
