<div class="jumbotron greensea center">
	<h1 class="center">Welcome to my app!</h1><br><br>
	<p class="center"><%= link_to "Log In!", "#", class: "btn btn-default btn-lg bold" %>   <%= link_to "Sign Up!", "#", class: "btn btn-primary btn-lg" %></p>
</div>